@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
      cursor: pointer;
    }
    &:active {
      background:darken($bg,25%);
      cursor: pointer;
    } 
  }
  
  .btn {
   color:white;
   text-decoration:none;
   padding:5px 10px;
   border-radius:3px;
   font-family: 'Montserrat', sans-serif;
   font-size:2em;
  }
  
  .btn-green {
     @include button-bg(#2ecc71);
  }
  
  .wrap {
    margin:0 auto;
    width:800px;
    text-align:center;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:4em;
  }
  